* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#595959;
    background-color:#fff1cf;
  }
  
  /* *********************************
  headerの設定
  *********************************** */
  header {
    height: 60px;
    width: 100%;
    padding: 0px 0px;
    background-color: #5b7e91;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
  }
  
  .logo {
    font-style: italic;
    font-size: 20px;
    color:#000b00;
    
  }

  .menu {
    font-size: 15px;
    vertical-align: middle;  
  }
  
  header nav {
    margin: 0 0 0 auto;
  }
  
  header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    display: block;
    line-height: 60px;
    padding: 0 20px;
  }
  
  header a {
    color: #ffffff;
    font-weight: bold;
  }

 

  #first-block {
    background-image: url("/static/images/book1.jpg");
    background-size: cover;
    width: 100%;
    height: 380px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-container h1 {
    color: black;
    text-align: center;
    font-size: 40px;
    vertical-align: 10px;
  }

  .setumei {
    color: red;
    text-align: center;
  }

  .ichiran {
    text-align: center;
    text-decoration: underline solid black
  }

  .sakka {
    display: inline-block;
    text-align: center;
  }
  
  /* *********************************　
  mainの設定
  *********************************** */
  

  main {
    padding-top: 60px;
    text-align: center;
    width: 100%;
    min-height: calc(100vh - 50px);
    top: 0;
  }
  
  
  
  /* content要素内のh1要素に対する設定 */
  .content h2 {
    padding: 0.5em 0;/* 上下の余白 */
    text-decoration: underline solid black
  }

  .content_title {
    padding: 0.5em 0;/* 上下の余白 */
    text-decoration: underline solid black
  }

  

  .content h1 {
    padding: 0.5em 0;/* 上下の余白 */
  }

  .slider {
    width: 750px;
    height: 420px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .slider-item {
    width: 750px;
    float: left;
  }
  
  img{
    width:100%;
  }
  
  .slider-inner {
    width: 500%;
    animation: slider 50s infinite ease;
  }
  
  @keyframes slider {
      8% {
      transform: translateX(0);
      }
      30% {
      transform: translateX(-750px);
      }
      52% {
      transform: translateX(-1500px);
      }
      74% {
      transform: translateX(-2250px);
      }
      96% {
      transform: translateX(-3000px);
      }
      100% {
      transform: translateX(0);
      }
  }
  
  
  
  /* 表（数値を入力する部分）の設定 */
  
  /* 「click」ボタンのスタイル */

  button{
    display:inline-block;
    }

  #click_btn {
    text-align: center;
    margin: 10px auto;
    padding: 1px;
    width: 150px;
    font-size: 18px;
    color: black;
    background-color: rgb(246, 123, 123);
    border-radius: 50vh;
  }
  
  #click_btn a:hover {
    background-color: rgb(250, 90, 90);
  }
  
  /* 「計算する」ボタンのスタイル */
  
  
  /* 結果を表示する部分 */
  
  
  /* *********************************　
  footerの設定
  *********************************** */
  footer {
    width: 100%; /* 幅いっぱいを指定 */
    height: 45px; /* 高さを指定 */
    background: #5b7e91; /* 背景色を指定 */
    text-align: center;
  }
  
  .footer_logo {
    line-height: 45px;
    color:#000b00;
    font-size:17px;
  }

  /* #splash { */
    /*fixedで全面に固定*/
  /* position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background:#333;
  text-align:center;
  color:#fff;
} */

/* Loadingバー中央配置　*/
/* #splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
} */
/* body {
  margin: 0;
  padding: 0;
}
.loading {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #fdfdfd;
}
.loading.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 500ms;
}
.loading .circle {
  display: block;
  position: relative;
  top: calc( 50% - 20px );
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 8px solid #e0e0e0;
  border-top: 7px solid #ffcccc;
  border-radius: 50px;
  animation: loading 700ms linear 0ms infinite normal both;
}
@keyframes loading {
  0% { transform: rotate( 0deg ); }
  100% { transform: rotate( 360deg ); }
} */
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 1;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
