{% extends "layout.html" %}
{% block content %}
<!-- <div id="splash">
    <div id="splash_text"></div>
</div> -->
<main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <br>
    <br>
    <br>
    <h2 class="content_title">文通画面</h2>
    <br>
    <div class="content">

        <p class="dear">
            <h4>Dear</h4>
            <input type=”text” value="{{sakka}}" name=”dear” size="60">
        </p>

        <br>

        <p class="taitoru">
            <h4>Title</h4>
            <input type=”text” name=”title” size="60">
        </p>

        <br>
        

        <form action="/index/{{sakka}}" method="POST" >
            <h4>本文</h4>
            <textarea name="honbun" cols="60" rows="30">{{gassaku}}</textarea>
            <h5>※1ターンの文章作成に約1分かかります。</h5>
            <h5>※共有ボタンを押す前に、本文のコピーをお願いします！</h5>
            <br>
  
            <div class="click_btn">
                <input type="submit"  id="click_btn" value="バトンタッチ！">
                <!-- <button href="/##">共有する！</button> -->
            </div>
        </form>
        <br>
        <br>
    </div>
</main>
<!-- // <script src="{{url_for('static',filename='javascript.js')}}"></script> -->
{% endblock %}