<!DOCTYPE html><!-- このファイルがHTMLであることを宣言 -->
<html lang="ja">
<!-- 言語は日本語に設定 -->

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> <!-- cssファイルの読み込み -->
    <title>AI Exchange Novel</title>
</head>

<body>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script>
        $(function () {
            var h = $(window).height();


            $('#wrap').css('display', 'none');
            $('#loader-bg ,#loader').height(h).css('display', 'block');


            $('#click_btn').on('click', function () { //全ての読み込みが完了したら実行
                $('#wrap').css('display','none');
                $('#loader-bg ,#loader').height(h).css('display','block');
            });
        });


        $(window).load(function () { //全ての読み込みが完了したら実行
            $('#loader-bg').delay(900).fadeOut(800);
            $('#loader').delay(600).fadeOut(300);
            $('#wrap').css('display', 'block');
        });
    </script>
    <div id="loader-bg">
        <div id="loader">
            <!-- <img src="static/images/loading01.gif" width="1" height="100" alt="Now Loading..." > -->
            <p>Now Loading...</p>
        </div>
    </div>
    <div id="wrap">
        <header>
            <div class="logo">
                <h1>AI Exchange Novel</h1>
            </div>

            <nav class="menu">
                <ul>
                    <a href="/">TOPページへ！</a>
                    <a href=" https://ballparkfood.herokuapp.com/">共有サイトへ！</a>
                </ul>
            </nav>
        </header>

        {% block content %}
        {% endblock %}


        <footer>
            <div class="footer_logo">©︎ 2023 Soichiro Uchima</div>
        </footer>
    </div>
</body>

</html>