<!DOCTYPE html><!-- このファイルがHTMLであることを宣言 -->
<html lang="ja"><!-- 言語は日本語に設定 -->
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}"> <!-- cssファイルの読み込み -->
    <!--link rel="icon" href="../static/images/favicon.ico">< ファビコンの設定 -->
    <title>AI Exchange Novel</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>AI Exchange Novel</h1>
        </div>

        <nav class="menu">
            <ul>
                <a href=" https://ballparkfood.herokuapp.com/" >共有サイトへ！</a>
            </ul>
        </nav>
    </header>

    {% block content %}
    {% endblock %}


    <footer>
        <div class="footer_logo">©︎ 2023 Soichiro Uchima</div>
    </footer>
</body>
</html>