{% extends "layout.html" %}
{% block content %}
    <br>
    <section id="first-block">
        <div class="title-container">
          <h1>新しい、物語の価値を創ろう。</h1>
        </div>
    </section>

    <main>
        <div class="content">
            <h2>ABOUT&遊び方</h2>
            <h1>様々な文豪と「交換小説」を叶える！</h1>
            <h4>~「文通」気分で好きなAI作家とオリジナル物語を作ろう♡~</h4>
            <br>
            <div class="slider">
                <div class="slider-inner">
                    <div class="slider-item"><img src="static/images/asobikata1.jpg"></div>
                    <div class="slider-item"><img src="static/images/asobikata2.jpg"></div>
                    <div class="slider-item"><img src="static/images/asobikata3.jpg"></div>
                    <div class="slider-item"><img src="static/images/asobikata1.jpg"></div>
                    <div class="slider-item"><img src="static/images/asobikata2.jpg"></div>
                </div>
            </div>
        </div>
    </main>

    <div class="ichiran">
        <h2>文通相手一覧</h2>
        <br>
        <br>
        <div class="sakka">
            <a href="/index/太宰治"><img src="/static/images/dazai1.jpg" alt="Now Loading..." width="250" height="250" ></a>
            <a href="https://ja.wikipedia.org/wiki/%E5%A4%AA%E5%AE%B0%E6%B2%BB">太宰治</a> 
        </div>
        <div class="sakka">
            <a href="/index/夏目漱石"><img src="/static/images/natume.jpg" alt="natume" width="250" height="250" ></a>
            <a href="https://ja.wikipedia.org/wiki/%E5%A4%8F%E7%9B%AE%E6%BC%B1%E7%9F%B3">夏目漱石</a> 
        </div>
        <div class="sakka">
            <a href="/index/芥川龍之介"><img src="/static/images/akutagawa.jpg" alt="akutagawa" width="250" height="250" ></a>
            <a href="https://ja.wikipedia.org/wiki/%E8%8A%A5%E5%B7%9D%E9%BE%8D%E4%B9%8B%E4%BB%8B">芥川龍之介</a> 
        </div>
        
    </div>
    

    <br>
    
{% endblock %}